<header class="site-header">
    <nav class="site-nav">
        <a href="{{ '/' | relative_url }}" class="site-logo">
            <i class="fas fa-rocket"></i>
            <span>CodeNebula</span>
        </a>
        <div class="nav-links">
            <a href="{{ '/' | relative_url }}" class="nav-link">主页</a>
            <a href="{{ '/algorithm' | relative_url }}" class="nav-link">算法笔记</a>
            <a href="https://github.com/{{ site.github_username }}" target="_blank" class="nav-link">GitHub</a>
        </div>
    </nav>
</header>
